<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    {% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
        {% if messages %}                           <!-- check if there are any messages -->
            {% for message in messages %}           <!-- loop through the messages -->
                <p>{{message}}</p>                  <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container" >
        <div class="container" >
            <nav class="navbar navbar-expand-lg bg-light mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/krushvbc">
                        <img src= "{{ url_for('static', filename='logo.png')}}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        Krush Volleyball Club
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/krushvbc">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/team_info">Team Info</a>
                            </li>
                        {% if 'user_id' in session%}
                        <li class="nav-item">
                            <a class="nav-link active" href="/logout">logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">login</a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container text-center">
            <h1 class="display-6 text-danger">Add a new team!</h1> 
        </div>
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form action="/submit_team" method="post">
                        <div class="mb-3">
                            <label for="team_name" class="form-label">Team Name:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="team_name">
                        </div>
                        <div class="mb-3">
                            <label for='head_coach' class="form-label">Head Coach:</label>
                            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" name="head_coach">
                        </div>
                        <div class="mb-3">
                            <label for='assistant_coach' class="form-label">Assistant Coach:</label>
                            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" name="assistant_coach">
                        </div>
                        <input type="submit" class="btn btn-danger mt-1" value ='Add Team'></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>